<div class="container" style="direction: rtl">
  <div class="row">
    <h3 class="text-center mt-10">آکادمی آنلاین روکسو</h3>
    <div class="col-12 mt-10">
      <p>یک سرور داخل ایران یا آلمان تعریف کنید</p>
      <div class="label"></div>
      <input type="text" class="form-control" [(ngModel)]="newServerName">
      <label for="">محتوای سرور</label>
      <input type="text" class="form-control" [(ngModel)]="newServerContent">
      <br>
      <button
        class="btn btn-warning"
        >افزودن سرور آلمان</button>
      <button
        class="btn btn-primary"
      >افزودن سرور ایران</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <div
      class="panel panel-default"
      *ngFor="let element of serverElements">
        <div class="panel-heading">{{ element.name }}</div>
        <div class="panel-body">
          <p>
            <strong *ngIf="element.type === 'iran'" style="color: red">{{ element.content }}</strong>
            <em *ngIf="element.type === 'germany'">{{ element.content }}</em>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
